{% extends "base.html" %}
{% block home_scripts %}
<script>
  window.onload = function () {
    var input = document.getElementById('content');
    input.focus();
    input.select();
  }
</script>

{% endblock %}
{% block generator %}
<div class="generator_container">
  <form class="score_input" action="/" method="POST">
    <!--Generator input-->
    <div class="input_container">
      <input class="url_input" type="text" name="content" id="content" value="{{ input }}" placeholder="Enter Score URL, User URL, or Username">
      <button class="submit_button" id="submit_button fa-solid fa-arrow-right" onclick="loading()" type="submit" onsubmit="keepInputs()">
        <i class="fa-solid fa-angle-right" data-fa-transform="down-40"></i>
      </button>
    </div>
    <!--Screenshot checkbox-->
    <div class="checkbox_container">
      <input class="get_screenshot" name="checkbox" type="checkbox" {% if checked %} checked {% endif %} id="checkbox" value="get screenshot">
      <label for="checkbox" class="checkbox_label">Get score screenshot</label>
    </div>
  </form>

  <!--Scorepost title-->
  <p class="generated_title" id="generated_title">
    {{ score_title }}
    <button class="copy_button" onclick="copyToClipboard('generated_title')">
      <span style="color: white;" class="copy_button_style">
        <i class="fa-solid fa-clipboard"></i>
      </span>
    </button>
  </p>
  <!--Screenshot-->
  <a class="image_container" href=" {{ image_src }}" target="_blank">
    <img class="score_image" src="{{ image_src }}">
  </a>
  <p class = "results" id="loading">{{ results }}</p>
</div>
{% endblock %}