<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>osu!scorepost</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',filename='osu!scorepost.ico') }}" />
    <script src="https://kit.fontawesome.com/a5b2cefb49.js" crossorigin="anonymous" async></script>
    {% block home_scripts %}{% endblock %}
    <script async>
        /**
         * Copies the text inside of elementId and displays copy_notification
         * @param  {String} elementId The ID of the element you would like to copy the text of
         */
        function copyToClipboard(elementId) {
            scoreTitleText = document.getElementById(elementId).innerText;
            navigator.clipboard.writeText(scoreTitleText);

            notif = document.getElementById('copy_notification')
            notif.classList.add('show');
            setTimeout(function(){ notif.className = notif.className.replace("show", ""); }, 3000);
        }

        /**
         * Loading... message and disable button
         */
        function loading() {
            setTimeout(function(){
            loading_element = document.getElementById('loading')
            loading_element.innerText = "Loading..."
            document.getElementById('submit_button').disabled = true;
            }, 100)

        }

        /* reset site on refresh */
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
  </head>
  <body>
    <!--Navigation bar-->
    <div class="top_navbar">
        <div class="site_title">
            <a class="site_logo_link" href="/">
                <img class="site_logo" src="/static/osu!scorepost.png">
            </a>
            <div class="title_source_code_container">
                <a class="title" href="/">osu!scorepost</a>
                <span class="credit">
                    by <a target="_blank" href="https://osu.ppy.sh/users/26080649">sm4ko</a> - source code available 
                    <a target="_blank" href="https://github.com/wesleyyxie/osu-scorepost">here</a>
                </span>
            </div>
        </div>

        <div class="links_container">
            <a class="home" href="/">
                <i class="fa-solid fa-house"></i>
                Home
            </a>
            <a class="reddit_submit" href="https://www.reddit.com/r/osugame/submit/?type=IMAGE" target="_blank">
                <i class="fa-brands fa-reddit"></i>
                r/osugame
            </a>
            <a class="how_it_works" href="/how_to_use">
                <i class="fa-solid fa-circle-question"></i>
                How to use
            </a>
            <a class="contact" href="/contact">
                <i class="fa-solid fa-envelope"></i>
                Contact
            </a>
        </div>

    </div>
    {% block generator %}{% endblock %}
    <!--Copy notification-->
    <div id="copy_notification" class="">Copied to clipboard</div>
  </body>
</html>