<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>osu!scorepost</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',filename='osu!scorepost.ico') }}" />
    <script src="https://kit.fontawesome.com/a5b2cefb49.js" crossorigin="anonymous" async></script>
    <script async>
        function openReddit(){
            scoreTitle = "{{ score_title }}"
            if (scoreTitle != "Player | Artist - Beatmap Title [Version] (Creator, 0.00*) 0.00% SS | 0pp"
                &&  scoreTitle != "No recent scores"
                && scoreTitle != "No score found, please enter a valid score link, user link, or username") {
                    window.open("https://www.reddit.com/r/osugame/submit/?type=IMAGE&title={{ score_title | urlencode | replace('/', '%2F') }}");}
                else {window.open("https://www.reddit.com/r/osugame/submit/?type=IMAGE")}}
        async function openRedditShortcut(event) {
            if (event.key != undefined && ((event.key.toLowerCase() === "d"
            && event.ctrlKey) || (event.key.toLowerCase() ===  "d"
            && event.metaKey))){
                event.preventDefault()
                openReddit()}}
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );}
        document.addEventListener('keydown', openRedditShortcut)
        </script>
  </head>
  <body>
    <!--Navigation bar-->
    <div class="top_navbar">
        <div class="site_title">
            <a class="site_logo_link" href="/"><img class="site_logo" src="/static/osu!scorepost.png"></a>
            <div class="title_source_code_container">
                <a class="title" href="/">osu!scorepost</a>
                <span class="credit">
                    by <a target="_blank" href="https://osu.ppy.sh/users/26080649">sm4ko</a> - source code available 
                    <a target="_blank" href="https://github.com/wesleyyxie/osu-scorepost">here</a>
                </span>
            </div>
        </div>
        <div class="links_container">
            <a class="home" href="/"><i class="fa-solid fa-house"></i>Home</a>
            <a class="reddit_submit" onclick="openReddit()"><i class="fa-brands fa-reddit"></i>r/osugame</a>
            <a class="how_it_works" href="/how_to_use"><i class="fa-solid fa-circle-question"></i>How to use</a>
            <a class="contact" href="/contact"><i class="fa-solid fa-envelope"></i>Contact</a>
        </div>
    </div>
    {% block generator %}{% endblock %}
    <!--Copy notification-->
    <div id="copy_notification" class="">Copied to clipboard</div>
    <div id="fail_notification" class="">You are copying too fast. Please wait for image to fully load.</div>
  </body>
</html>