{% extends "base.html" %}
{% block home_scripts %}
<script>
  var isLoading = false
        /**
         * Loading... message and disable button
         */
         function loading() {
              loading_element = document.getElementById('loading')
              loading_element.innerText = "Loading..."
              isLoading = true
              document.getElementById('submit_button fa-solid fa-arrow-right').disabled = true;
              document.getElementById('loading_screen').classList.add('loading')
              document.getElementById('shortcuts_menu').style.backgroundColor = 'transparent'
              if (document.getElementById('shortcuts_menu').style.display != 'flex') {
                document.getElementById('loading_animation').style.display = 'block'
              }
        }
        /**
         * Shows shortcuts menu
         */
        function showShortcutMenu() {
          document.getElementById('loading_animation').style.display = 'none'
          document.getElementById('shortcuts_menu').style.display = 'flex'
        }

        /**
         * Exist shortcuts menu
         */
        function exitShortcutMenu() {
          if (isLoading) {
            document.getElementById('loading_animation').style.display = 'block'
          }
          document.getElementById('shortcuts_menu').style.display = 'none'
        }

        /**
         * Submit form
         */
        async function submit(event) {
          if (event.key === "Enter" && !(document.getElementById('url_input') === document.activeElement) && !document.getElementById('submit_button fa-solid fa-arrow-right').disabled) {
            event.preventDefault()
            document.getElementById('submit_button fa-solid fa-arrow-right').click()
          }
        }
        
        /**
         * Copy image shortcut
         */
        async function copyScreenshot(event) {
          if ((event.key.toLowerCase() === "s"
                && event.ctrlKey) || (event.key.toLowerCase() === "s"
                && event.metaKey)) {
                  // Copy the image data to clipboard
                    event.preventDefault();
                    var img = document.getElementById('score_image');
                    var canvas = document.createElement('canvas');
                    var ctx = canvas.getContext('2d');

                    canvas.width = img.naturalWidth;
                    canvas.height = img.naturalHeight;

                    ctx.drawImage(img, 0, 0);
                    var imageData = canvas.toDataURL();

                    canvas.toBlob(async function(blob) {
                        try {
                            await navigator.clipboard.write([
                                new ClipboardItem({
                                    [blob.type]: blob
                                })
                            ]);
                            console.log('Image copied to clipboard!');

                            notif = document.getElementById('copy_notification')
                            notif.classList.add('show');
                            setTimeout(function(){ notif.className = notif.className.replace("show", ""); }, 3000);
                        } catch (error) {
                            console.error('Failed to copy image to clipboard:', error);

                            notif = document.getElementById('fail_notification')
                            notif.classList.add('show');
                            setTimeout(function(){ notif.className = notif.className.replace("show", ""); }, 3000);
                        }
                    }, 'image/png');
                };
    }

  window.onload = function () {
    var input = document.getElementById('content');
    isLoading = false
    input.focus();
    input.select();
    document.addEventListener("keyup", submit)
    document.addEventListener("keydown", copyScreenshot)
    document.getElementById('submit_button fa-solid fa-arrow-right').disabled = false;
    console.log('hi')
  }
</script>

{% endblock %}
{% block generator %}
<div class="generator_container">
  <form class="score_input" action="/" onsubmit="loading()" method="POST">
    <!--Generator input-->
    <div class="input_container">
      <input class="url_input" type="text" name="content" id="content" value="{{ input }}" placeholder="Enter Score URL, User URL, or Username">
      <button class="submit_button" id="submit_button fa-solid fa-arrow-right" type="submit">
        <i class="fa-solid fa-angle-right" data-fa-transform="down-40"></i>
      </button>
    </div>
    <!--Screenshot checkbox-->
    <div class="checkbox_container">
      <input class="get_screenshot" name="checkbox" type="checkbox" {% if checked %} checked {% endif %} id="checkbox" value="get screenshot">
      <label for="checkbox" class="checkbox_label">Get score screenshot</label>
    </div>
  </form>

  <!--Scorepost title-->
  <p class="generated_title" id="generated_title">
    {{ score_title }}
    <button class="copy_button" onclick="copyToClipboard('generated_title')">
      <span style="color: white;" class="copy_button_style">
        <i class="fa-solid fa-clipboard"></i>
      </span>
    </button>
  </p>
  <!--Screenshot-->
  <div onmouseleave="exitShortcutMenu()" onmouseover="showShortcutMenu()" onclick="location.href='{{ image_src }}'" class="image_wrapper" >
    <div class="shortcuts_menu" id="shortcuts_menu">
      <p>
        CTRL + S - copy screenshot
      </p>
      <p>
        CTRL + SPACE - open Reddit submission page
      </p>
      <p>
        On Reddit submission page, CTRL + V to paste screenshot
      </p>
    </div>
    <div class="loading_screen" id="loading_screen">
      <div class="loading_animation" id="loading_animation"></div>
    </div>
    <div class="image_container" id="image_container">
        <img id="score_image" class="score_image" src="{{ image_src }}">
    </div>
  </div>
  <p class = "results" id="loading">{{ results }}</p>
</div>
{% endblock %}