<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',filename='osu_scorepost_generator_logo.ico') }}" />
    <script src="https://kit.fontawesome.com/a5b2cefb49.js" crossorigin="anonymous" async></script>
    <script async>

      function copyToClipboard() {
        scoreTitleText = document.getElementById('generated_title').innerText;
        navigator.clipboard.writeText(scoreTitleText);

        notif = document.getElementById('copy_notification')
        notif.classList.add('show');
        notif.classList.add('fadeout');
        notif.addEventListener('animationend', () => {
            notif.classList.remove('show', 'fadeout');
        }, { once: true });
      }

      function loading() {
        setTimeout(function(){
          loading_element = document.getElementById('loading')
          loading_element.style.visibility = "visible"
          document.getElementById('submit_button').disabled = true;
        }, 100)

      }
      if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
      }
    </script>
  </head>
  <body>
    <div id="copy_notification" class="notif">Copied to clipboard</div>
    <div class="form">
      <h1 class="site_title">osu! Scorepost Generator</h1>
      <form class="score_input" action="/" method="POST">
        <input class="url_input" type="text" name="content" id="content" size="45" placeholder="Score URL e.g. https://osu.ppy.sh/scores/727272727">
        <input class="submit_button" id="submit_button" onclick="loading()" type="submit" value="Display Score">

        <input class="get_screenshot" name="checkbox" type="checkbox" id="checkbox" value="get screenshot">
        <label for="checkbox" class="checkbox_label">Get score screenshot</label>

      </form>
      <p class="generated_title" id="generated_title">
        {{ score_title }}
        <button class="copy_button" onclick="copyToClipboard()">
          <span style="font-size: 1.4em; color: white;" class="copy_button_style">
            <i class="fa-solid fa-clipboard"></i>
          </span>
        </button>
      </p>
      <img class="score_image" src="{{ image_src }}">
      <p style="visibility: hidden;"id="loading">Loading...</p>
      <p>If image does not load properly, please try entering the score link again.</p>
    </div>
  </body>
</html>